body {
	width: 95%;
	height: 100%;
	/*margin-left: 50px; */
	color: #000000;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 200% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

h1{
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 300;
	
}
#distribucion{
	display: flex;
	justify-content: flex-start;
	    align-items: stretch;
}

.estilo{
	display: flex;
	justify-content: center;
	margin-block-start: 15px;
}
#ss{
    background-color: rgb(13, 64, 77);
    font-weight: bold;
    padding: 10px;
	display: flex;
	flex-direction: column;
	/*margin-right: 20px;*/
	width: 360px;
    
}
#contacto{
	display: flex;
    flex-direction: column;
	margin: 4%;

}

#linea{
	
    height: 1px;
    background-color: black;
	margin-block-start: -2%;
    
}
.con{
	margin: 4%;
	font-size: clamp(8px, 2vw, 15px);
}
.cursos{
	margin: 4%;
	padding-block-end: 10px;
	font-size: clamp(8px, 2vw, 15px);
}

.aptitudes{
	display:flex;
	flex-direction:column;
	margin-left: -30px;
	margin-block-start: -15px;
}



#contenido{
	display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-block-start: 30px;
	width: 1250px;
}

a{
	color: rgb(39, 155, 145);
}

/*
#foto{
    
    background-image: url("https://i.ibb.co/zHJ5SFRd/DSC-7628.png");
	width: 120px;
	height: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}*/

.backdrop {
    -moz-box-shadow: 0px 6px 5px #111; 
    -webkit-box-shadow: 0px 6px 5px #111; 
    box-shadow: 0px 2px 10px #111; 
    -moz-border-radius:190px; 
    -webkit-border-radius:190px; 
    border-radius:190px;
}

.linktree {
	background-image: url("https://i.ibb.co/zHJ5SFRd/DSC-7628.png");
	width: 120px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 20px;
	margin-right: 20px;
	
  }

@media(max-width:450px){
     p , li , .titulos{
        width: 100%; 
		 
		font-size: clamp(6px, 2vw, 12px);
    }
}
@media(max-width:450px){
	.linktree{
		width: 90px;
        height: 120px;
        margin-left: 3px;
        margin-right: 0px;
   }
}

@media(max-width:450px){
	.con .cursos{
		font-size: clamp(6px, 2vw, 12px);
   }
}


@media(max-width:450px){
	#ss {
		width: 64%;	 
		
   }
}

@media(max-width:450px){
	#contenido{
		margin-left: 10px;
	}
}
@media(max-width:450px){
	#linea{ 
		margin-block-start: -2px;
		
	}	 
}    
/*
@media(max-width:400px){
	#distribucion {
		width: 30%;	 
   }
}

@media(max-width:500px){
	.linktree{
		margin-right: -10px; 
   }
}
@media(min-width:1000px){
	p , li{
		width: 1000px; 
   }
}*/