body {
	width: 95%;
	height: 100%;
	margin-left: 50px;
    margin-right: 50px;
	color: #000000;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 200% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

#ss{
    background-color: rgb(13, 64, 77);
    font-weight: bold;
    padding: 10px;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
#contacto{
	display: flex;
	margin: 2px;
}

h1{
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
}

a{
	color: rgb(39, 155, 145);
}

/*
#foto{
    
    background-image: url("https://i.ibb.co/zHJ5SFRd/DSC-7628.png");
	width: 120px;
	height: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}*/

.backdrop {
    -moz-box-shadow: 0px 6px 5px #111; 
    -webkit-box-shadow: 0px 6px 5px #111; 
    box-shadow: 0px 2px 10px #111; 
    -moz-border-radius:190px; 
    -webkit-border-radius:190px; 
    border-radius:190px;
}

.linktree {
	background-image: url("https://i.ibb.co/zHJ5SFRd/DSC-7628.png");
	width: 120px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 20px;
	margin-right: 20px;
	
  }

@media(max-width:500px){
     p , li{
        width: 90%;   
    }
}
@media(max-width:500px){
	.linktree{
		width: 90px;
        height: 120px;
        margin-left: 3px;
        margin-right: 0px;
   }
}

@media(max-width:500px){
	#contacto {
		font-size: 12px; 
   }
}
@media(max-width:500px){
	#ss {
		width: 99%;	 
   }
}
